.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #143d59;
}
.AppTitle {
  font-size: 2rem;
}
.AppTables {
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.Image {
  width: 10rem;
  margin: 0 auto;
  padding-top: 2rem;
}
